<% layout('../layout/boilerplate') %>
<div class="card mt-4 mb-4" style="box-shadow: #00000029 0px 1px 4px;">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="https://images.unsplash.com/photo-1526493685729-7cf0830875a4?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80" class="img-fluid" alt="...">
        </div>
        <div class="col-md-6 mt-3">
            <div class="container-fluid">
                <h2 class="mb-3 d-flex justify-content-center">Sign Up</h2>
        </div>
        <form action="/register" method="POST" class="validated-form" novalidate>
            <div class="mb-3">
                <label class="form-label" for="username">Username</label>
                <input class="form-control" type="text" name="username" id="username" placeholder="Username"
                    required style="width: 80%;">
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="email" name="email" id="email" placeholder="email" required style="width: 80%;">
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="Password">Password</label>
                <input class="form-control" type="password" name="password" id="password"
                    placeholder="Password" required style="width: 80%;">
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-dark" type="submit">Sign-up</button>
            </div>
        </form>
        <div class="Sign-up mt-2">
            <p>
                Don't have an account? <a href="/login">Sign-in here</a>
            </p>
        </div>
        </div>
    </div>
</div>
